* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "logo content links";
  margin: 10px 0px;
}

.logo {
  grid-area: logo;
  margin: 0 auto;

  & img {
    width: 325px;
  }
}

.container {
  font-size: 24px;
  flex-direction: column;
  margin: 0 auto;
  grid-area: content;
}

.img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0px;

  & img {
    width: 200px;
  }
}

.links {
  grid-area: links;
  display: flex;
  justify-content: space-evenly;

  & a {
    font-size: 24px;
  }
}
