* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box {
  aspect-ratio: 1;
  border: 1px solid black;
}

img {
  width: 250px;
}
